@model ContactsViewModel
@using CRUDApps.DataAccess.EF.Models

@{
    string pageType = Model.CurrentContact.ContactId > 0 ? "Update Contact" : "Create Contact";

    ViewData["Title"] = $"CRUD Applications | {pageType}";
}

<form action="~/Contacts/Index" method="post">
    <div>
        <div class="row">
            <div class="col-6 offset-3 text-center">
                <h1 class="display-4" style="margin: 20px 0px;">@pageType</h1>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 offset-md-3 form-group">
                <label>First Name: </label>
                <input type="text" class="form-control" name="firstName" value="@Model.CurrentContact.FirstName" />
            </div>
            <div class="col-md-3 form-group">
                <label>Last Name: </label>
                <input type="text" class="form-control" name="lastName" value="@Model.CurrentContact.LastName" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>Phone Number: </label>
                <input type="tel" class="form-control" name="phoneNumber" value="@Model.CurrentContact.PhoneNumber" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>Email Address: </label>
                <input type="email" class="form-control" name="emailAddress" value="@Model.CurrentContact.EmailAddress" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-secondary" onclick="location.href = '/Contacts/Index'">CANCEL</button>
                <button type="submit" class="btn btn-primary">SAVE CONTACT</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="contactID" value="@Model.CurrentContact.ContactId" />
</form>

